@CHARSET "UTF-8";

html,
body#adx_body  {
	width: 320px;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

html,
body,
#adx_main,
#adx_map-canvas ,
#adx_promotion {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#adx_main .table {
	width: 100%;
	height: 100%;
	display: table;
}
#adx_main .table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#adx_main {
	position: relative;
}

#adx_preload {
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0;
}

#adx_header {
	z-index: 9999;
	width: 100%;
	min-width: 270px;
	height: 55px;
	background: url(../img/bg_header.png) 0 0 repeat-x;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
}

#adx_header .cards {
	padding-top: 8px;
	padding-left: 13px;
	line-height: 0;
}
#adx_logo-visa-premiermiles {
	margin-right: 8px;
}
#adx_logo-citibank {
	position: absolute;
	top: 15px;
	right: 13px;
}

#adx_preview-banner {
	width: 100%;
	display: none;
	position: absolute;
	z-index: 999;
}

#adx_please-click {
	width: 100%;
	display: none;
	position: absolute;
	bottom: 5%;
	left: 0;
}
#adx_please-click .container {
	width: 320px;
	margin: 0 auto;
	position: relative;
}
#adx_please-click-cursor {
	position: absolute;
	top: 6px;
	left: 94px;
}

#adx_tnc {
	z-index: 999;
	width: 81px;
	height: 9px;
	position: absolute;
	bottom: 10px;
	right: 13px;
}

#adx_promotion {
	z-index: 1000;
	width: 100%;
	padding-top: 55px;
	line-height: 0;
	background-color: #fff;
	display: none;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
}
#adx_promotion-link {
	width: 100%;
	position: absolute;
	/*top: 308px;*/
	top: 55px;
	left: 0;
}
#adx_promotion-link a {
	display: block;
	/*width: 106px;
	height: 25px;*/
	width: 100%;
	height: 305px;
	margin: 0 auto;
}

@media (min-width: 320px) {
	#adx_logo-citibank {
		right: 40px;
	}
}

/* white background and box outline */
/* image icon inside close button */
.gm-style iframe,
.gm-style > div:first-child > div + div > div:last-child > div > * {
	display: none !important;
}
.gm-style iframe,
.gm-style > div:first-child > div + div > div:last-child > div,
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child  *,
.gm-style > div:first-child > div + div > div:last-child > div > div,
.gm-style > div:first-child > div + div > div:last-child > div > div > img{
	width: 0px !important;
	height: 0px !important;
}
/* positioning of infowindow */
.gm-style > div:first-child > div + div > div:last-child > div > .gm-style-iw {
	display: block !important;
	width: 0 !important;
	height: 0 !important;
	top: 0 !important;
	left: 0 !important;
}
.gm-style-iw,
.gm-style-iw  * {
	overflow: visible !important;
}
.gm-style-iw > div:first-child  > div{
	height: 0;
	position: relative;
}
/* google logo */
.gm-style > div:nth-child(2) {
	display: none !important;
}
/* chrome user icon */
.gmnoprint {
	display: none;
}